/* General rules */ 
*{
    margin:0;
    padding: 0;
}

/* body rules */ 
body{
    width: 100%;
    height: 100%; 
    background-color: #00003c;
}
.background{
position: fixed;
width: 100vw;
}

/* Font rules */ 
h2{
    font-size: 4em;
}

/* Upper section nav, logo */ 
.top-bar{
    position: fixed;
    width: 100vw;
    height: 20vh;
    text-align: center;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,1fr);
    z-index: 3;  
}
.top-bar-front{
   grid-column: 2/4;
   grid-row: span 2;
   font-family: 'Varela', sans-serif; 
}
.top-bar-normal{
   grid-column: 4/6;
   grid-row: span 2;
   font-family: 'Varela', sans-serif; 
}
.top-bar-buepil{
   grid-column: 8/10;
   grid-row: span 2;
   font-family: 'Varela', sans-serif; 
}
.top-bar-sammenhold{
   grid-column: 10/12;
   grid-row: span 2;
   font-family: 'Varela', sans-serif; 
}
.top-bar-logo{
   grid-column: 6/8;
   grid-row: span 2;
   background-image: url(../img/horse.jpg);
   background-size: contain;
   background-repeat: no-repeat;
   margin:1vw;
   position: relative;
}

/* Low section, controls, lower bar */ 
.lower-bar{
    position: fixed;
    width: 100vw;
    height: 20vh;
    top: 80vh;
    text-align: center; 
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,1fr);
    font-family: 'Varela', sans-serif; 
}

/* Drop up content styling */
.dropUpContent{
    display: none;
    position: absolute;
    background-color: #040D44;
    min-width: 160px;
    z-index: 4;
    list-style: none;
    top: 0;
    left: auto;
    font-family: 'Varela', sans-serif; 
    color: black;
    margin-bottom: 200px;
   
}
.dropUp:hover .dropUpContent{
    display: block;
    z-index:4; 
  
}
.dropUpContent a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: 'Varela', sans-serif; 
    border: #F47703 solid 1px;
    color: black;
    font-size: 1rem;
    padding: 5px;
}
.dropUpContent a:hover{
    background-color: rgba(244, 119, 3, 0.356);
}

/* Knapperne nede i bunden */
.lower-bar-stories{
    grid-column: 3/5;
    grid-row: span 2;
    font-family: 'Varela', sans-serif; 
}
.lower-bar-Galleri{
    grid-column: 9/11;
    grid-row: span 2;
    font-family: 'Varela', sans-serif; 
} 
.top-bar-front, .top-bar-normal, .top-bar-buepil, .top-bar-sammenhold, .lower-bar-stories, .lower-bar-lorum-a, .lower-bar-lorum-b, .lower-bar-Galleri{
    margin: 45px 15px 45px 15px;
    font-size: 1.2rem;
    font-weight: bold;
    border: #F47703 solid 1px; 
    border-radius: 5px;
    background: linear-gradient(to right, #040D44 0%,#110483 51%, #040D44 100%);
    color: #F47703;
    cursor: pointer;
    
}

/* Hover effekt på knapperne */
.top-bar-front:hover, .top-bar-normal:hover, .top-bar-buepil:hover, .top-bar-sammenhold:hover, .lower-bar-stories:hover, .lower-bar-lorum-a:hover, .lower-bar-lorum-b:hover, .lower-bar-Galleri:hover{
    background: linear-gradient(to right, #13238d 0%,#110483 51%, #13238d 100%);

}


/* Video play controls */ 
.play, .unmute {
    background: #F47703;
    border: 1px solid #040D44;
    border-radius: 5px;
    background-image: linear-gradient(to right, #F47703 0%,#d18f15 51%, #F47703 100%);
    cursor: pointer;
}
.play{
   grid-column: 6;
   grid-row: span 2;
   margin: 45px 15px 45px 15px;
   font-family: 'Montaga', serif;
   font-weight: bold;
   color: #040D44;
   font-size: 1rem;
}
.unmute{
   grid-column: 7;
   grid-row: span 2;
   margin: 45px 15px 45px 15px;
   font-family: 'Montaga', serif;
   font-weight: bold;
   color: #040D44;
   font-size: 1.2rem;
   transform: rotate(-180deg);
}

/*
.rewind{
   grid-column: 6;
   grid-row: 2;
   border-radius: 0px 0px 0px 65px;
   margin: 3px 3px 10px 30px;
}
.forward{
   grid-column: 7;
   grid-row: 2;
   border-radius: 0px 0px 65px 0px;
   margin: 3px 30px 10px 3px;
}
*/

/* Modal boks styling */
.modal{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0; 
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(70, 70, 70, 0.5);
    animation: fade 1s;
   
}

.modalIndhold{
    position: relative;
    background-color: rgba(70, 70, 70, 0.85);
    margin: 20vh auto;
   /* padding: 20px;
    border: 1px solid black; */ 
    max-width: 39vw;
}
.close{
    position: absolute;
    right: 5px;
    top: 0;
    color: black;
    float: right;
    font-size: 1.2rem;
    font-weight: bold;
}
.close:hover
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.container {
    z-index: 3;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 90%;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal billeder */
/*.modalBilleder{
    width: 17vw;
}*/

/* ----- slider ----- */
.slide {
    display: none; 
    width: 100%;
    margin: auto;
}
.slide.active {
   display: block;
   animation: fade 1s;
  
}
.display-left{
position: absolute;
left:0;
top: 45%;
}
.display-right{
position: absolute;
right: 0;
top:45%;
}
.display-left, .display-right{
    border: none;
    background: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: #F47703;
   background-color: #040D44;
}
@keyframes fadeout {
    0%{
        opacity: 100%
    }
    100%{
        opacity: 0%
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}